<h1>New Vote</h1>

<% if @vote.errors.any? %>
  <ul>
    <% @vote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag(votes_url, method: 'post') do %>


  <div>
   <%= hidden_field_tag :user_id, session[:user_id] %>
  </div>

    <div>
    <%= label_tag :movie_id %><br />
    <%= number_field_tag :movie_id %>
  </div>


  <div>
    <%= submit_tag "Create Vote" %>
  </div>
<% end %>
