<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @theater.name %>
</p>

<p>
  <b>Address:</b>
  <%= @theater.address %>
</p>

<p>
  <b>Created at:</b>
  <%= @theater.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @theater.updated_at %>
</p>


<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>
